*{
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: #18cccc;
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    margin: 0;
    min-height: 100vh;
}


.container{
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    text-align: left;
    margin-top: 5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

form button {
    padding: 0.5rem 2rem;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

form button:hover {
    background-color: #006666;
}

